@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: 'Epilogue', sans-serif;
}