@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}
.animate-slide:hover {
  animation-play-state: paused;
}
body {
  overflow-x: hidden;
  font-family: 'Epilogue', sans-serif;
}