@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}
.animate-slide:hover {
  animation-play-state: paused;
}